.header {
  height: 70px;
  width: 1272px;
  background-color: #ffffff;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.user-info {
   display:flex;
   align-items:center;
   margin-right:50px;
}

.userInfoText {
   display:flex;
   flex-direction:column;
   align-items:flex-start;
   font-size:small;
   margin-left:10px;
}

.user-info b {
   margin-bottom:5px;
}


.chevron-down{
   margin-left:10px;
}

.chevron-down:hover{
   cursor:pointer;
}

.modal {
   position:absolute;
   margin-right:20px;
   top:75px;
   display:flex;
   flex-direction:column;
   background-color:#fff;
   padding:10px;
   border:none;
   border-radius:12px;
   box-shadow:rgba(0,0,0,0.24)0px3px8px;
}

.modal button {
   margin-bottom:10px;
   background-color:#fffbfb;
   color:#757575;
   width:120px;
   font-size:small;
   border:none;
   padding:10px;
}

.modal button:hover{
   cursor:pointer;
}

.userImg{
  background-color:#046639;
  border-radius:50%;
  height:40px;
  width:40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
